<div class="jumbotron">
  <div class="container">
	  <h1>Agile Experiences</h1>
	  <p>Lições aprendidas com processos de adoção ágil de desenvolvimento de software</p>
  </div>
</div>
<div class="container">
	<div class="row text-center">
		<div class="col-md-4">
			<img src="assets/github.png">
			<h2>Código aberto</h2>
			<p>Ajude-nos a criar uma plataforma que permite pessoas compartilharem experiências sobre adoção ágil. O código é geranciado através do <a href="https://github.com/DanBarreto/agile-experiences" target="_blank">Github</a>.</p>
		</div>
		<div class="col-md-4">
			<img src="assets/trello.png">
			<h2>Board virtual</h2>
			<p>Tudo que é feito é transparente para a comunidade. Basta acessar nosso storyboard no <a href="https://trello.com/b/WtY6bcWb/agile-experiences" target="_blank">Trello</a> e conferir ou opinar sobre nossas prioridades.</p>
		</div>
		<div class="col-md-4">
			<img src="assets/snap.png">
			<h2>Integração contínua</h2>
			<p>Como falamos sobre Ágil, precisamos ser ágeis. A infraestrutura de integração contínua é construída com <a href="https://snap-ci.com/" target="_blank">Snap</a>.</p>
		</div>
	</div>
</div>
